## mako
<%!
  from django.conf import settings
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>${_('Terms of Service')}</title></%block>

<section class="static-container tos">
    <h2>${_('Terms of Service')}</h2>

    <p>${_('This site is free to use. If you create content you have agree to releasing it under Creative Commons Attribution-ShareAlike license.')}</p>

    <h2 id="privacy">${_('Privacy Policy')}</h2>

    <p>${_('Put your Privacy Policy here!')}</p>

    <h2 id="honor">${_('Honor Code')}</h2>

    <p>${_('Read our manifest... once we have one.')}</p>

    <h2 id="copyright">${_('Copyleft')}</h2>

    <p>${_('Copyleft Warmer Sun')}</p>
</section>

<script>
    $(document).ready(function() {
        var print_tos = '<input type="button" value="Print Terms of Service" class="print">';
        $('#content section.tos').prepend(print_tos).append(print_tos);
        $('#content section.tos input.print').click(function() {
            window.print();
            return false;
        });
    });
</script>
